<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303588889069-rbo6r5pmb7pjd3cn6tvorvkd68asfoii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303588889069-rbo6r5pmb7pjd3cn6tvorvkd68asfoii</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303588889069-v9jk8fgc4kv66n3tm720ho5332ale75e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAu4_d9eHRKMyd4OAD0UPMtsZE5EPCPwAg</string>
	<key>GCM_SENDER_ID</key>
	<string>303588889069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>binderapp-a6a88</string>
	<key>STORAGE_BUCKET</key>
	<string>binderapp-a6a88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303588889069:ios:af6644c4eb233a271117e4</string>
</dict>
</plist>